html {
    font-size: 20px;
}

.book {
    position: relative;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 37rem;
    height: 12.5rem;
    perspective: 70rem;
}
.cover {
    background-color: #36354e;
    transform: rotateY(0deg);
    width: 18.5rem;
    height: 12.5rem;
}
.page,
.page3,
.page1,
.pagelast {
    top: 0.25rem;
    left: 0.6rem;
    background-color: #e9e6c4;
    transform: rotateY(0deg);
    width: 18rem;
    height: 12rem;
    text-align: right;
    font-size: 8px;
    color: #777;
    font-family: monospace;
}
.page1 {
    border-radius: 5px 0 0 5px;
}

.pagelast {
    position: absolute;
    padding: 1rem;
    transform-origin: 100% 0;
    border-radius: 5px 5px 5px 5px;
    box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2), 0px 0px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    z-index: 100;
}
.cover {
    position: absolute;
    padding: 1rem;
    transform-origin: 100% 0;
    border-radius: 5px 5px 5px 5px;
    box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2), 0px 0px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.page {
    position: absolute;
    padding: 1rem;
    transform-origin: 100% 0;
    border-radius: 5px 5px 5px 5px;
    box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2), 0px 0px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.cover {
    border-radius: 5px 0 0 5px;
}

.page3 {
    position: absolute;
    padding: 1rem;
    transform-origin: 0 0;
    border-radius: 0 5px 5px 0;
    box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2), 0px 0px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    z-index: 997;
}

.page1 {
    position: absolute;
    padding: 1rem;
    transform-origin: 0 0;
    border-radius: 5px 5px 5px 5px;
    box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2), 0px 0px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transform: rotateY(-180deg);
}
.cover.turn {
    transform: rotateY(180deg);
    z-index: 99;
}
.page.turn,
.page3.turn {
    animation: bookOpen 3s forwards;
}
.turn-back {
    animation: bookClose 3s forwards;
}
.turn-back-3b {
    animation: bookClose3b 3s forwards;
}

.page:nth-of-type(2) {
    transform: rotateY(180deg);
    z-index: 997;
}
.page:nth-of-type(3) {
    z-index: 998;
}
.horizontal {
    transform: scaleX(-1) translateX(100%);
}
.turn-open-1 {
    animation: bookOpen1 3s forwards;
}
.booklet-next-left {
    right: -36rem;
}
.booklet-next-right {
    left: 18.5rem;
    border-radius: 0 5px 5px 0;
}
.booklet-current-right {
    left: 18.5rem;
}
.booklet-current-left {
    left: 0.5rem;
    border-radius: 5px 0 0 5px;
}
.booklet-previous-right {
    left: 18.5rem;
}

@keyframes bookOpen {
    30% {
        z-index: 998;
    }
    100% {
        transform: rotateY(180deg);
        z-index: 998;
    }
}
@keyframes bookClose {
    30% {
        z-index: 999;
        left: 18.5rem;
    }
    100% {
        transform: rotateY(-180deg);
        z-index: 999;
        left: 18.5rem;
    }
}
@keyframes bookOpen1 {
    100% {
        transform: rotateY(0deg);
        z-index: 1000;
    }
}
@keyframes bookClose3b {
    45% {
        z-index: 1100;
    }
    100% {
        transform: rotateY(0deg);
        z-index: 1000;
        border-radius: 5px 0 0 5px;
        left: 0.48rem;
    }
}
@keyframes bookCover {
    30% {
        z-index: 999;
    }
    100% {
        transform: rotateY(180deg);
        z-index: 1;
    }
}

.booklet-current-left {
    z-index: 200 !important;
}
.booklet-current-right {
    z-index: 1 !important;
    border-right: solid 1px rgba(255, 255, 255, 0);
    left: 18.5rem;
}
.booklet-next-left {
    z-index: 1 !important;
    left: 0.5rem;
}
.booklet-next-right {
    z-index: 1 !important;
    left: 18.5rem;
    box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.cover.turn {
    z-index: 0 !important;
}
